@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=REM:wght@100;300;500;800&display=swap");
:root {
  --Pacifico: "Pacifico", cursive;
  --REM: "REM", sans-serif;
  --brown: #89693c;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--REM);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.full-height-width {
  height: 90%;
  width: 80%;
}

nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-around;
}
header h3 {
  font-size: calc(10px + 2vw);
  font-family: var(--Pacifico);
  padding: 8px 16px;
  flex-grow: 1;
  flex-shrink: 0;
  color: var(--brown);
}
header .nav__buttons {
  gap: 1vw;
}
header .nav__buttons button {
  padding: 0 32px;
  border: none;
  height: 58px;
  box-shadow: rgba(0, 0, 0, 0.1803921569) 1px 1px 5px;
}
header .nav__buttons button:hover {
  background-color: #89693c;
  color: white;
  transition: 0.3s;
}

#content {
  height: 100%;
  max-width: 82rem;
  margin: auto;
}
#content .content__intro {
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 80%;
  margin: auto;
}
#content .content__intro img {
  width: 45%;
}

.black_bg {
  background-color: var(--brown);
  color: white;
  padding: 3px 8px;
}

.intro--logo {
  font-family: var(--Pacifico);
  font-size: clamp(1rem, 5vw, 59px);
  color: var(--brown);
}

.numberOneBest {
  margin-top: 10px;
  font-size: clamp(8px, 2vw, 27px);
}

.temporary-content {
  flex-grow: 1;
  margin: auto;
}

.flex.menu__text--wrapper {
  margin-top: 40px;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 80px;
}

.menu__text {
  font-size: clamp(40px, 3vw, 3vw);
  color: white;
  background-color: var(--brown);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0 auto;
  padding: 0 2vw;
}

.menu__item {
  display: flex;
  gap: 50px;
  align-items: center;
}
.menu__item--name {
  font-size: calc(1rem + 0.5vw);
}
.menu__item--description {
  color: white;
  background: var(--brown);
  width: -moz-max-content;
  width: max-content;
  padding: 6px 16px;
  font-size: calc(1rem + 0.05vw);
}
.menu__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}
.menu__item--2 img {
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}
.menu__item--3 img {
  border: 1px solid black;
  -o-object-position: 0% 1%;
     object-position: 0% 1%;
}

.img__container {
  position: relative;
}

.menu__item .overlay {
  background-color: rgba(0, 0, 0, 0.207);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.3s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__item .overlay .price {
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-size: calc(1rem + 2vw);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu__item img {
  filter: blur(0px);
  transition: 0.3s;
}
.menu__item .overlay:hover {
  opacity: 1;
  transition: 0.3s;
}
.menu__item img:hover {
  filter: blur(2px);
  transition: 0.3s;
}

.content__wrapper {
  margin: auto;
}

q.quote {
  font-size: clamp(1rem, 1rem + 1vw, 0.5rem + 1vw);
}

h1.deformed-pig {
  font-size: clamp(1rem, 1.5rem + 1vw, 1.5rem + 1vw);
  margin-bottom: 21px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items: center;
  height: 50px;
  white-space: break-spaces;
}
footer a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */